/* Primary style */

body{
    background-color: #EEEEEE;
    margin: 0 0 0 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.padding-side{
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: inherit;
}



@media only screen and (max-width:40em){

    .row{
        box-sizing: border-box;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        /*-ms-flex: 0 1 auto;*/
        /*-webkit-box-flex: 0;*/
        /*flex: 0 1 auto;*/
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        /*-ms-flex-wrap: wrap;*/
        /*flex-wrap: wrap;*/
        /*margin-right: -1rem;*/
        /*margin-left: -1rem;*/
    }
    .column{
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .col-sm,
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12{
        -ms-flex: 0 0 auto;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .col-sm {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%;
    }

    .col-sm-1 {
        -ms-flex-preferred-size: 8.333%;
        flex-basis: 8.333%;
        max-width: 8.333%;
    }

    .col-sm-2 {
        -ms-flex-preferred-size: 16.667%;
        flex-basis: 16.667%;
        max-width: 16.667%;
    }

    .col-sm-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        -ms-flex-preferred-size: 33.333%;
        flex-basis: 33.333%;
        max-width: 33.333%;
    }

    .col-sm-5 {
        -ms-flex-preferred-size: 41.667%;
        flex-basis: 41.667%;
        max-width: 41.667%;
    }

    .col-sm-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        -ms-flex-preferred-size: 58.333%;
        flex-basis: 58.333%;
        max-width: 58.333%;
    }

    .col-sm-8 {
        -ms-flex-preferred-size: 66.667%;
        flex-basis: 66.667%;
        max-width: 66.667%;
    }

    .col-sm-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        -ms-flex-preferred-size: 83.333%;
        flex-basis: 83.333%;
        max-width: 83.333%;
    }

    .col-sm-11 {
        -ms-flex-preferred-size: 91.667%;
        flex-basis: 91.667%;
        max-width: 91.667%;
    }

    .col-sm-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }

    .col-sm-offset-1 {
        margin-left: 8.333%;
    }

    .col-sm-offset-2 {
        margin-left: 16.667%;
    }

    .col-sm-offset-3 {
        margin-left: 25%;
    }

    .col-sm-offset-4 {
        margin-left: 33.333%;
    }

    .col-sm-offset-5 {
        margin-left: 41.667%;
    }

    .col-sm-offset-6 {
        margin-left: 50%;
    }

    .col-sm-offset-7 {
        margin-left: 58.333%;
    }

    .col-sm-offset-8 {
        margin-left: 66.667%;
    }

    .col-sm-offset-9 {
        margin-left: 75%;
    }

    .col-sm-offset-10 {
        margin-left: 83.333%;
    }

    .col-sm-offset-11 {
        margin-left: 91.667%;
    }

    .around {
        justify-content: space-around;
    }

    .between {
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .center {
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
        text-align: center;
    }

    .middle {
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
    }

    /* header */

    header.top-bar{
        background-color: #4398E3;
        color: #fff;
        height: 50px;
        width: 100%;
        justify-content: center;
        -webkit-justify-content: center;

    }

    .inline-flex {
        flex: 1;
        display: inline-flex;
        justify-content: center;
        -webkit-justify-content: center;
    }

    .logo-img{
        width: auto;
        max-height: 30px;
        text-align: center;
    }

    .fa-bars{
        margin-right: auto;
        justify-self: flex-start;
        -webkit-justify-content: flex-start;
    }

    .right-icons{
        margin-left: auto;
        justify-self: flex-end;
        -webkit-justify-content: flex-end;
    }

    .fa-graduation-cap{
        padding-left: 0.5em;
    }




    /* nav menu */

    .menu-tabs{
        border-bottom: solid 1px #4398E3;
    }

    .menu-tabs ul {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        background: #ffffff;
        height: 35px;
    }

    .menu-tabs,
    .menu-tabs ul,
    .menu-tabs ul li,
    .menu-tabs ul li a {
        margin: auto;
        padding: 0;
        border: 0;
        list-style: none;
        line-height: 1;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .menu-tabs:after,
    .menu-tabs > ul:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    .menu-tabs > ul > li > a {
        z-index: 2;
        padding: 0px 0px 1px 0px;
        font-size: 1em;
        text-decoration: none;
        color: #757575;

    }
    .menu-tabs > ul > li.active > a,
    .menu-tabs > ul > li:hover > a,
    .menu-tabs > ul > li > a:hover {
        color: #4398E3;

    }
    .menu-tabs > ul > li > a:after {
        position: absolute;
        left: 0;
        bottom: -5px;
        right: 0;
        z-index: -1;
        width: 100%;
        height: 3px;
        content: "";

    }
    .menu-tabs > ul > li.active > a:after,
    .menu-tabs > ul > li:hover > a:after,
    .menu-tabs > ul > li > a:hover:after {
        background: #4398E3;
    }



    /* Banner Images :: Carousel */

    .banner-img{
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .banner-img{
        min-height: 15em;
    }

    .banner1{
        background-image: url("../assets/carousel1.jpg");

    }
    .banner2{
        background-image: url("../assets/carousel2.jpg");

    }
    .banner3{
        background-image: url("../assets/carousel3.jpg");

    }



    /* banner-carousel.slick */
    .slick-dots{
        color: #757575;
    }
    .slick-dots,
    .slick-active{
        bottom: 1em;
        z-index: 999;

    }
    .slick-dots:active{
        color: #4189E2;
    }


    /* lists in home */

    .bg-panel {
        background: #FFFFFF;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);

    }

    .section-title-line{
        border-right: 3px solid #4189E2;
        margin: 1em 0 0 1em;
        padding: 0 1em 0 0;

    }
    .section-title{
        font-size: 1em;
    }

    .list-img{
        background-repeat: no-repeat;
        min-height: 2em;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-image: url("../assets/carousel1.jpg");
    }

}